<div class="title">
    <h2><%= info.t %></h2>
    <p><%= info.date %></p>
</div>

<br>

<div class="arttext">
    <p><%= info.txt %> </p>
</div>

<div class="artimg">
    <img src="/<%= info.pic %>" alt="">
</div>

<a href="<%= info.q %> " class="artquelle">Quelle</a>